@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-sans);
  background: #ffffff;
  color: #111827;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #2563eb;
  color: white;
}